<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="style.css">
    </head>
    <body>
		<div class="container text-center">
		<h4>Aby zobaczyć listę plików znajdujących sie na serwerze kliknij tu:</h4>
		<button class="btn btn-default btn-all"><a href="../list">Wszystkie pliki</a></button></div>
        <h1>Poprawnie zapisano następujący plik:</h1>
    </body>
</html>